@page
@model AllPhotosModel
@inject Services.IImageService ImageService

<section class="all-dyed" id="dyed">
    <div class="all-content">
        <div class="all-main">
            <h3 class="all-header">Фарбування</h3>
        </div>
        <div class="all-photos">
            @foreach (var image in ImageService.GetVisibleDyedImages())
            {
                <img src="@image.URL" alt="@image.Name" class="all-ph main-width">
            }
        </div>
    </div>
</section>

<section class="all-cut" id="cut">
    <div class="all-content">
        <div class="all-main">
            <h3 class="all-header">Стрижки</h3>
        </div>
        <div class="all-photos">
            @foreach (var image in ImageService.GetVisibleCutImages())
            {
                <img src="@image.URL" alt="@image.Name" class="all-ph main-width">
            }
        </div>
    </div>
</section>

<section class="all-products" id="products">
    <div class="all-content">
        <div class="all-main">
            <h3 class="all-header">Товари</h3>
        </div>
        <div class="all-photos">
            @foreach (var image in ImageService.GetVisibleProdImages())
            {
                <img src="@image.URL" alt="@image.Name" class="all-ph main-width br_img">
            }
        </div>
    </div>
</section>